body {
  background-color: #1D1717;
  font-size: 30px;
  padding: 0px;
  margin: 100px;
}
.logo {
  height: 250px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}
h1 {
  color: #000000;
  text-align: center;
  padding: 0px;
  margin: 0px;
  
}
p {
  color: #000000;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
ol {
  color: #000000;
  text-align: center;
  list-style: none;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}
li {
  color: #FFFFFF;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
a {
  color: #FFFFFF;
  text-align: center;
}
.text {
  color: #FFFFFF;
  background-color: #2f4353;
background-image: linear-gradient(180deg, #1D1717 0%, #17df2c 90%);
  border-radius: 15px;
}
.text-paragraph {
  color: #FFFFFF;
}